
.container{
	width: 500px;
	height: 400px;
	text-align: center;
	margin: 0 auto;
	background-color:#124a1c;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 150px;
}
.container img{
	width:30%;
	border-radius:50%;
	margin-top:-60px;
	margin-bottom: 30px;
	
}
input[type="text"],input[type="password"]{
	
	height: 45px;
	width: 300px;
	font-size: 19px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 40px;
}
.form_input::before{
position: absolute;
font-family: "FontAwesome";
padding-left: 10px;
padding-top: 5px;
font-size: 30px;
	
}
.btn-login{
	padding:0px 25px;
	border-radius: 0px;
	color: #9f6a08;
	border: none;
	background-color: #9f6a08;
}
.userinput{
	background-image: url('user.png');
    background-position: 15px 10px;
    background-repeat: no-repeat;
}
.passinput{
	background-image: url('lock.png');
	background-position: 15px 10px;
	background-repeat: no-repeat;

}